# Virtual environment
# Ignore Python files
*.pyc
__pycache__/
venv/
venv*/
.Python
bin/
include/
lib/
lib64/
pip-selfcheck.json


models
data
env


# IDE files
.vscode/
.idea/
*.iml
*.pyc

# Environment variables
.env
.data
.venv
.models

# Database
friends.db

# Compiled Python files
*.pyc

# Dependency directories
node_modules/
/dist/


