# Ignore Python files
*.pyc
__pycache__/

# Ignore environment files
.env

# Ignore virtual environment
venv/
env/
saved_models/
test_data/


# Ignore log files
*.log

# Ignore media files
*.mp4
*.avi

# Ignore node_modules (for frontend)
node_modules/

# Ignore build files (for frontend)
dist/
build/

# Ignore Mac system files
.DS_Store

# Ignore cache files
.cache/
*.bak
